:root {
    /* Color */
    --Primary-1: #FFBE34;
    --Primary-2: #091242;
    --Secondary-1: #F4F4F4;
    --Heading-font: #1C1F35;
    --Paragraph-font: #666C89;
    --Gradient: linear-gradient(90deg, rgba(255,182,41,1) 0%, rgba(255,218,86,1) 50%, rgba(255,215,166,1) 100%);

    /* Text */
    --Display-text: 60px;
    --Heading-1: 50px;
    --Heading-2: 40px;
    --Heading-3: 35px;
    --Heading-4: 30px;
    --Heading-5: 25px;
    --Heading-6: 20px;
    --Paragraph: 16px;

    /* Font */
    --Rubik: 'Rubik', sans-serif;
    --Krub: 'Krub', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    transition: 0.3s;
}

a {
    color: var(--Secondary-1);
    text-decoration: none;
}

a, p {
    font-size: var(--Paragraph);
}

h1 {
    font-size: var(--Heading-1);
}

h2 {
    font-size: var(--Heading-2);
}

h3 {
    font-size: var(--Heading-3);
}

h4 {
    font-size: var(--Heading-4);
}

h5 {
    font-size: var(--Heading-5);
}

h6 {
    font-size: var(--Heading-6);
}

/* General button */
.button {
    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 60px;

    background: var(--Gradient);
}

.button::after {
    content: "";

    position: absolute;
    top: 55%;
    right: -20%;

    width: 70px;
    height: 70px;

    background-color: var(--Secondary-1);
    border-radius: 50%;
    transition: 0.3s;

}

.button p{
    position: absolute;
    z-index: 1;
    font-weight: 600;
}

.button:hover {
    cursor: pointer;
}

.button:hover::after {
    top: -50%;
    right: -15%;

    width: 160px;
    height: 160px;
}

/* Section title */
.section_suptitle {
    display: inline-block;
    padding: 0 10px;

    font-family: var(--Rubik);
    font-weight: 400;

    background-color: rgba(102, 108, 137, 0.15);
    border-left: 4px solid var(--Primary-1);
}

.section_title {
    margin-top: 15px;

    font-family: var(--Rubik);
    font-weight: 600;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;

    margin: 0 auto;

    font-size: var(--Heading-6);
    font-family: var(--Krub);
}

@media screen and (max-width: 1200px) {
    .container {
        padding: 0 30px;
    }
}



/* Header */
header {
    height: calc(100vh - 160px);
    background: url("../assets/images/header/header-background.jpg") fixed center;
    background-size: cover;
}



/* Navigation */
nav {
    width: 100%;
    background-color: var(--Primary-2);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
}

/* Navigation logo */
.nav_logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.nav_logo h4 {
    color: var(--Secondary-1);
}

.nav_logo:hover img {
    transform: scale(1.1);
}

.nav_logo:hover h4 {
    color: var(--Primary-1);
    cursor: pointer;
}

/* Navigation components */
.nav_components {
    display: flex;
    gap: 25px;
}

/* Navigation inner */
.nav_inner {
    display: flex;
    align-items: center;
    gap: 16px;

    font-size: var(--Paragraph);
    font-family: var(--Krub);
    font-weight: 500;
    color: var(--Secondary-1);
}

.nav_inner p {
    position: relative;
    width: 180px;
}

.nav_inner:nth-of-type(3) p {
    width: 130px;
}

.nav_inner:hover {
    cursor: pointer;
}

.nav_inner:hover img {
    transform: scale(1.1);
}

.nav_inner:hover a {
    color: var(--Primary-1);
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .nav_inner:nth-of-type(1) {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .nav_inner:nth-of-type(2) {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .nav_inner:nth-of-type(3) {
        display: none;
    }

    .nav_logo {
        margin: 0 auto;
    }
}

@media screen and (max-height: 500px) {
    header {
        height: calc(100vh - 90px);
    }

    .navigation {
        height: 90px;
    }
}



/* Menu */
menu {
    position: absolute;
    z-index: 2;

    width: 100%;
    height: 78px;
    background-color: rgba(0, 0, 0, 0.25);
}

.fixed_menu {
    position: fixed;
    top: 0;
}

.nontransparent_menu {
    background-color: var(--Primary-2);
}

menu .container {
    padding: 0;
}

.menu {
    display: flex;
    align-items: center;
}

/* Menu components */
.menu_components {
    display: flex;
}

.menu_component {
    position: relative;
    display: flex;

    align-items: center;
    height: 78px;
}

.menu_component p {
    padding: 0 30px;
    border-right: 2px solid rgba(255, 255, 255, 0.15);
}

.menu_component:first-child p {
    padding-left: 0;
}

.menu_component:last-child p {
    padding-right: 0;
}

.menu_component:nth-of-type(5) p {
    border: none;
}

.menu_component::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30px;

    width: calc(100% - 60px);
    height: 2px;

    background-color: var(--Secondary-1);
    opacity: 0;
    transition: 0.3s;
}

.menu_component:first-child::after {
    width: calc(100% - 30px);
    left: 0;
}

@media screen and (max-width: 1200px) {
    .menu_component:first-child p {
        padding-left: 30px;
    }

    .menu_component:first-child::after {
        width: calc(100% - 60px);
        left: 30px;
    }
}

.menu_component:last-child::after {
    width: calc(100% - 30px);
    left: 30px;
}

.menu_component:hover::after {
    opacity: 1;
}

.burger_menu {
    display: none;
    width: 55px;
    margin-left: 30px;
}

@media screen and (max-width: 950px) {
    .menu_components {
        display: none;
    }

    .burger_menu {
        display: block;
    }
}

@media screen and (max-width: 550px) {
    .menu_icons img {
        display: none;
    }
}

/* Menu icons */
.menu_icons {
    display: flex;
    gap: 24px;
    margin: 0 50px 0 auto;
}

.menu_icons a {
    display: flex;
    transition: 0.3s;
}

.menu_icons a:hover {
    transform: scale(1.1);
}

/* Menu button */
.menu_button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 216px;
    height: 78px;

    background-color: var(--Secondary-1);
}

.menu_button p{
    font-weight: 600;
}

.menu_button:hover {
    cursor: pointer;
    background-color: var(--Paragraph-font);
    color: var(--Secondary-1);
}



/* Header title */
.header_inner {
    display: flex;
    align-items: center;

    height: 100%;
    padding-top: 70px;
}

.header_inner_title {
    width: 500px;

    color: var(--Secondary-1);
}

.header_suptitle {
    width: 280px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, 0.25);
    border-left: 4px solid var(--Primary-1);
}

.header_title {
    margin: 10px 0;
    font-family: var(--Rubik);
    font-weight: 700;
}

.header_button .button {
    margin-top: 25px;
}

@media screen and (max-width: 550px) {
    .header_inner_title {
        width: 100%;
    }

    .header_title h1 {
        font-size: var(--Heading-2);
    }

    .header_subtitle {
        display: none;
    }

    .header_button .button {
        margin: 25px auto 0 auto;
    }
}

@media screen and (max-height: 500px) {
    .header_suptitle,
    .header_subtitle {
        display: none;
    }


    .header_title h1{
        width: 550px;
        font-size: var(--Heading-3);
    }
}



/* What we do */
.our_work {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin: 100px 0 120px 0;
}

.our_work_title h3 {
    width: 300px;
}

.our_work_inner {
    display: flex;
    flex-wrap: wrap;
    gap: 70px 0;
}

.work_component {
    display: flex;
    justify-content: right;

    width: 50%;
}

.work_component img {
    width: 50px;
    height: 60px;
}

.work_component_text {
    width: 70%;
    padding-left: 25px;
    margin-left: 25px;

    border-left: 2px solid rgba(0, 0, 0, 0.25);
}

.work_component_text p {
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    .our_work {
        flex-direction: column;
        margin-top: 60px;
    }

    .our_work_title {
        margin: 0 auto 40px auto;

        text-align: center;
    }
}

@media screen and (max-width: 770px) {
    .work_component {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .our_work_title h3 {
        width: 100%;
    }
}



/* Why Us */
/* Image */
.why_us_img {
    width: 100%;
    height: 500px;
}

.why_us_img img {
    position: absolute;
    z-index: -1;

    width: 100%;
    height: 500px;
    object-fit: cover;
}

/* Content */
.why_us {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: -150px;
    padding: 85px;

    background-color: #ffffff;
}

.why_us_title {
    width: 500px;
}

.why_us_title .section_subtitle {
    width: 450px;
    margin-top: 12px;
}

/* Why us benefits */
.why_us_benefits {
    display: flex;
    flex-direction: column;
    gap: 20px 0;

    margin-top: 25px;
}

.benefit_item {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Why us delivery */
.delivery_plane {
    position: relative;
}

.delivery_plane img {
    width: 100%;
}

.delivery_list {
    position: absolute;
    top: 60%;
    left: -35%;
}

.delivery_list img {
    width: 372px;
    height: 248px;

    border: 30px solid #ffffff;
}

@media screen and (max-width: 1200px) {
    .why_us {
        justify-content: center;
    }

    .why_us_title {
        text-align: center;
    }

    .why_us_benefits {
        margin: 25px auto;
    }

    .delivery_list {
        left: calc(100% - 417px);
    }
}

@media screen and (max-width: 700px) {
    .why_us {
        padding: 65px;
    }

    .delivery_list {
        position: static;
        margin-top: -35%;
    }

    .delivery_list img {
        width: 90%;
        height: 100%;
        margin: 0 5%;

        border: 15px solid #ffffff;
    }
}

@media screen and (max-width: 550px) {
    .why_us {
        padding: 25px;
    }

    .why_us_title {
        width: 100%;
    }

    .why_us_title .section_subtitle {
        width: 100%
    }
}

